/* HTML Elements */
* {
    margin:0;
    padding:0;
    target-new: tab ! important;
}

p {
    padding:1em;
}

hr {
    margin:0 auto;
    margin-top:0.5em;
}

label {
    font-size:0.8em;
}

/* Classes */
.input_wrapper {
    width:85%;
    margin:0 auto;
}

.data_area {
    border:2px solid gray;
    background-color:LightGray;
    padding:5px;
    margin:0 auto;
    text-align:left;
    overflow:auto;
}

.data_header {
    background-color:DarkGray;
    font-size:0.8em;
    margin:0;
    padding:3px;
}

.fragment_input {
    font-family:Monospace;
    font-size:0.8em;
    position:relative;
    text-align:left;
}

.add_fragments {
    background:url('/images/plus.png') no-repeat scroll 0 0 transparent;
    width:36px;
    height:36px;
    border:1px outset;
}

.body {
    min-height:450px;
    height:auto !important;
    min-height:550px;
}

.result {
    width:100%;
    height:30px;
}

.pdbid, .description, .chain, .match-data, .rmsd, .operations, .columnHeader, .similarity, .identity {
    padding:3px;
    display:inline-block;
    height:25px;
    vertical-align:middle;
    font-family:monospace;
    text-align:center;
}

.columnHeader{
    font-size:0.8em;
}

.pdbid {
    background-color:LightCyan;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    float:left;
    width:42px;
}

.description {
    background-color:white;
    font-size:0.7em;
    text-align:left;
    margin-right:131px;
    margin-left:46px;
    display:block;
}

.chain {
    background-color:LightBlue;
    float:right;
    width:5px;
}

.match-data {
    background-color:LightCyan;
    text-align:center;
    font-size:0.7em;
    width:55px;
    float:right;
}

.similarity {
    background-color:LightCyan;
    font-size:0.8em;
    float: right;
    width:35px;
}

.identity {
    background-color:LightBlue;
    font-size:0.8em;
    float: right;
    width:35px;
}

.rmsd {
    background-color:LightBlue;
    font-size:0.8em;
    float:right;
    width:30px;
}

.operations {
    background-color:LightCyan;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    float:right;
    width:40px;
    font-family:sans-serif;
}

hr.sequence_separator {
    margin:0;
    padding:0;
}

.progressbar {
    position:relative;
    padding:1px;
}

.progressbar, .pb_value, .pb_text {
    height:25px;
}

.progressbar, .pb_value {
    background: #bdbdbd top left no-repeat;
}

.pb_text {
    position: absolute;
    top:0; left:0;

    padding-top:5px;

    color:#fff;
    text-align:center;
    width:100%;
}

.container {
    padding: 1em;
    text-align:right;
}

.sequence-label {
    display:inline-block;
    font-family:monospace;
}

.sequence-display {
    display:inline;
    background:white;
    font-family:monospace;
}

/* Specific IDs */
#pdb_frag {
    float:left;
    width:52%;
    margin-bottom:5px;
}

#pdb_id {
    float:right;
    width:42%;
    margin-bottom:5px;
}

#pdb_file {
    clear:both;
    width:99%;
    margin-top:5px;
}

#pdb_fuzzy {
/*    clear:both;*/
    width:99%;
    margin-top:5px;
}

#main {
    margin:1em;
    margin-top:0.5em;
    border-radius:1em;
    background-color:LightGray;
    border:solid gray;
}

#header {
    background-color:gray;
    padding:1em;
    border-top-right-radius:0.5em;
    border-top-left-radius:0.5em;
}

#session {
    float:left;
    width:29%;
}

#status {
    float:right;
    width:70%;
}

#display {
    position:fixed;
    width:300px;
    height:300px;
    border:4px solid gray;
    margin:20px;
    margin-bottom:100px;
    background-color:white;
}

#sequences-title {
    padding:0;
    font-size:0.6em;
}

#columnTitles {
    background-color:LightGrey;
}

#citation {
    border:2px dotted LightGray;
    text-align:center;
    color:gray;
    padding:0;
    margin:auto;
    margin-top:0.5em;
    margin-bottom:0;
    width:80%;
    font-size:0.7em;
    font-family:sans-serif;
}

#citation a:link {
    text-decoration:none;
    color:gray;
}

#citation a:hover {
    text-decoration:underline;
    color:gray;
}

#citation a:visited {
    text-decoration:none;
    color:gray;
}

#citation span {
    font-weight:bold;
    color:red;
}

a#help_res_range:link {
    text-decoration: none;
}

a#help_res_range:hover {
    text-decoration: underline;
}

#specify_container {
    margin-bottom:4px;
}